.hero-section {
height: auto;
padding-top: 20px;
}

.sectionTwo {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.owner img {
    position: relative;
}
.description h1{
  
      font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.description span {
    color: #14B889;
}
.description p {
    font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px; 
  padding-top: 10px;
}
.description h1, .description p {
    color: whitesmoke;
}
.description a {
    text-decoration: none;
    color:aqua;
    font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px; 
}
